@font-face {
    src: url('static/fonts/calibri.ttf');
    -fs-pdf-font-embed: embed;
    -fs-pdf-font-encoding: Identity-H;
}

body {
    font-size: 11pt;
    font-family: Calibri, serif;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.title-line-height {
    line-height: 0.3;
}

table.date-number {
    width: 100%;
    border-spacing: 0;
}

table.date-number td {
    width: 50%;
    vertical-align: top;
}

.small-text {
    font-size: 10px;
}