<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;" charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>
<body>
<div class="center">
    <h2 class="title-line-height">УВЕДОМЛЕНИЕ</h2>
    <h2>О ВЫДАЧЕ РАЗРЕШЕНИЯ</h2>
</div>
<br/>
<table class="date-number">
    <tr>
        <td th:text="${document.date}"/>
        <td class="right" th:text="'№ ' + ${document.number}"/>
    </tr>
</table>
<br/><br/>
<div class="center">
    <span th:text="${document.fullName}"/><hr/>
    <span class="small-text">(наименование юридического лица или Ф.И.О. индивидуального предпринимателя)</span>
</div>
<br/>
<div th:if="${!paragraphBreak}">
    <p th:each="line : ${documentText}" th:text="${line}"/>
</div>
<div th:if="${paragraphBreak}">
    <p th:each="lineNumber : ${#numbers.sequence(0, documentTextLength)}" th:text="${documentText[lineNumber]}"/>
    <br/><br/><br/><br/>
    <p th:text="${lastLine}"/>
</div>
<br/>
<div class="right">
    <img th:src="${signaturePath}" height="45"/>
</div>
</body>
</html>